.register-wrapper {
    position: absolute;
    z-index: 4;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(128, 128, 128, 0.628);
    width: 20em;
    /* min-height: 30em;
    max-height: 40em; */
    height: 30em;
    /* padding: 1em 1.5em; */
    border-radius: 1em;
}

.back-image {
    position: absolute;
    z-index: -1;
    width: 100%;
    height: 100%;
}


.register-form {
    margin-top: -1em;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    justify-content: center;
    position: relative;
}

.register-form>div {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.register-form>div>label {
    color: #fefefeb3;
    font-size: 1em;
    margin-left: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.register-form>div>input {
    border-radius: 0.4em;
    padding: 0.25em 0.3em;
    font-size: 1em;
}

.register-form>button {
    margin-block: 1.3em -2.7em;
    height: 2.5em;
    padding-block: 2px;
    border-radius: 1em;
    border: none;
    color: #fefefe;
    background-color: #000000c7;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.register-form>button:hover {
    background-color: rgba(0, 255, 255, 0.721);
    color: #000;
    cursor: pointer;
}

.hide-register {
    position: absolute;
    z-index: 2;
    top: 2px;
    left: 2px;
}