
.user-details-body {
    /* background-color: aqua; */
    background: linear-gradient(to top, #373737, #2a2a2a, #1f1f1f);
    position: absolute;
    margin-left: 12em;
    width: 100%;
    height: 100vh;
    /* height: 100%; */
}