.image-upload-container-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.4em;
    position: relative;
    margin-top: 1em;
    margin-left: 1em;
}

.image-upload-container-wrapper>label {
    background-color: #000;
    color: #fff;
    border-radius: 0.5em;
    position: absolute;
    top: 0.4em;
    left: 2px;
    padding: 0.3em 0.2em;
    width: 10em;
    text-align: center;
    transition: transform 0.3s ease;
    cursor: pointer;
}

.image-upload-container-wrapper>label:hover {
    transform: scale(1.04);
}

.image-upload-container-wrapper>input {
    margin-top: 0.9em;
    margin-left: 3px;
}


.upload-image-button {
    border-bottom: 0.3px solid #eee;
    cursor: pointer;
    width: 7em;
    border-radius: 0.5em;
    border: none;
    position: absolute;
    top: 0.6em;
    left: 13.4em;
    transition: transform 0.3s ease;
    background-color: rgba(7, 7, 217, 0.669);
    color: #fff;
    padding: 4px 6px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    font-size: 0.8em;
    letter-spacing: 0.3px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.upload-image-button:hover {
    transform: scale(1.04);
    cursor: pointer;
}

.image-for-upload {
    width: 10em;
    height: 12em;
    aspect-ratio: 16/9;
    border-radius: 0.3em;
    position: absolute;
    left: 18.1em;
    border: 1px solid #eee;
    top: 7px;
    object-fit: cover;
    box-shadow: 0px 4px 6px rgba(192, 192, 192, 0.5);
    transition: transform 0.3s ease;
}

.image-for-upload:hover {
    transform: scale(1.02);
}

.messageText-h5 {
    position: relative;
    top: 2.7em;
    left: 2.6em;
    color: #eee;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    font-size: 1.1em;
    letter-spacing: 1px;
    width: 14em;
}

.messageText-h5:hover {
    color: silver;
    cursor: default;
}

.write-something-textArea {
    padding: 2px 0px 3px 3px;
    outline: unset;
    margin-top: 2.7em;
    width: 13.5em;
    height: 5.4em;
    resize: none;
    font-size: 1.2em;
    font-weight: 400;
    border-radius: 0.3em;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}